################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MappingGenerator/bin/Debug
/MappingGenerator/obj/Debug
/MappingGenerator.Core/bin/Debug
/MappingGenerator.Core/obj/Debug
/MappingGenerator.Core.Test/bin/Debug
/MappingGenerator.Core.Test/obj/Debug
